


$color-primary: var(--color-primary);
$color-accent: var(--color-accent); // используется для текста фоне $color-primary
$color-active: var(--color-active);
$bg-primary: var(--bg-primary);
$bg-accent: var(--bg-accent);
$main-bg-gradient-end:var(--main-bg-gradient-end);
$main-bg-gradient-start:var(--main-bg-gradient-start);
$avatar-bg-gradient-start:var(--avatar-bg-gradient-start);
$avatar-bg-gradient-end:var(--avatar-bg-gradient-end);
$divider-border-color: var(--divider-border-color);
$service-shadow-color:var(--service-shadow-color);
$aside-header:var(--aside-header);
$thumb-color:var(--thumb-color);
$color-inactive:var(--color-inactive);
$settings-color:var(--settings-color);
$device-action:var(--device-action);
