.automation-condition {
	margin-top: 32px;
	&__header{
		font-size: 24px;
		font-weight: 600;
	}
	&__description{
		margin-top: 24px;
	}
	&__time{
		margin-top: 20px;
		min-width: min(212px, 100%);
		max-width: min(326px,100%);
		border-radius: 16px;
		border: 1px solid $color-active;
		padding: 20px 24px;
		&-value{
			display: flex;
			align-items: center;
			gap:12px;
			margin-top: 12px;
			.time,
			input[type="time"]{
				background: $color-active;
				border-radius: 16px;
				padding: 10px 8px;
				color: $color-accent;
				border: 0;
			}
		}
	}
	&__sensors{
		display: flex;
		gap:28px;
		flex-wrap: wrap;
	}
	&__sensor{
		background: $settings-color;
		margin-top: 20px;
		border-radius: 12px;
		width: max(192px, calc(25% - 28px));
		padding: 8px 12px;
		display: flex;
		min-height: 76px;
		gap: 14px;
		position: relative;
		cursor: not-allowed;
		&.--editable {
			cursor: pointer;
		}
		&-info{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		&-condition{
			position: absolute;
			right: -8px;
			bottom: -5px;
			padding: 8px;
			border-radius: 8px;
			border: 1px solid $color-active;
			box-shadow: 0 0 4px $color-active;
			background: $settings-color;
			color: $color-active;
			font-size: 40px;
			width: 40px;
			height: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&-value{
		
		}
		.mask {
			position: absolute;
			inset: 0;
			border-radius: 12px;
			border: 1px solid transparent;
			z-index: 0;
			&.--active{
				border: 1px solid $color-active;
				box-shadow: 0px 0px 16px 0px $color-active;
				-webkit-box-shadow: 0px 0px 16px 0px $color-active;
			}
		}
		.mdi {
			margin: auto 0;
			font-size: 36px;
		}
	}
}
