.automation-add-condition{
	background: $bg-primary;
	border-radius: 26px;
	width: 100%;
	margin-inline: auto;
	padding-bottom: 40px;
	&__form{
		display: flex;
		flex-direction: column;
	}
	&__header{
		font-size: 25px;
		font-weight: 600;
		color: $color-active;
		width: calc(100% - 24px);
		text-align: center;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		.ui-icon{
			position: absolute;
			right: 0;
			font-size: 20px!important;
			cursor: pointer;
		}
	}
	&__conditions{
		margin-top: 28px;
		display: flex;
		gap:52px;
		flex-wrap: wrap;
		text-align: center;
		justify-content: center;
		
	}
	&__condition{
		display: inline-block;
		width: min(184px,95%);
		aspect-ratio: 1 / 1;
		background: $settings-color;
		border-radius: 16px;
		position: relative;
		padding: 20px;
		padding-bottom: 12px;
		border: 1px solid transparent;
		font-size: 20px;
		font-weight: 400;
		&.--active{
			border: 1px solid $color-active;
			box-shadow: 0px 0px 16px 0px $color-active;
			-webkit-box-shadow: 0px 0px 16px 0px $color-active;
		}
		input[type="radio"]{
			cursor: pointer;
			position: absolute;
			inset: 0;
			opacity: 0;
		}
		.ui-icon{
			display: flex;
			justify-content: center;
			font-size: 128px!important;
			color: $color-active!important;
		}
	}
	&__submit{
		margin-top: 44px;
	}
}
