#custom-select.custom-select{
	display: block;
}
.custom-select{
	position: relative;
	border-radius: 16px;
	background-color: $settings-color;
	box-shadow: 0px 0px 4.7px 0px $color-active;
	width: clamp(30%, 304px, 95%);
	cursor: pointer;
	&__current-value{
		padding: 12px 16px;
		position: relative;
		@include action-item;
		font-weight: 400;
	}
	&__options{
		position: absolute;
		display: flex;
		flex-direction: column;
		gap: 12px;
		left: 0;
		right: 0;
		margin-top: 8px;
		z-index: 5;
	}
	&__option{
		background: $settings-color;
		text-align: center;
		padding:  12px 8px;
		position: relative;
		box-shadow: 0px 0px 4.7px 0px $color-active;
		border-radius: 16px;
		&.--active,
		&:hover{
			background: $color-active;
		}
	}
	&__option-value {
		position: absolute;
		inset: 0;
		opacity: 0;
		cursor: pointer;
	}
	
}
