.add-roommate-modal{
  display: flex;
  flex-direction: column;
  background: $bg-primary;
  padding-top: 16px;
  padding-bottom: 36px;
  padding-inline: 40px;
  color: $color-primary;
  border-radius: 36px;
  width: clamp(200px, 535px,95vw);
  max-height: 85vh;
  overflow-y: auto;
  &::-webkit-scrollbar {
    border-radius: 2px;
    width: 8px;
    margin-inline-start: 10px;
    left: 10px;
    position: absolute;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
    width: 4px;
    border-radius: 2px;
  }
  
  &::-webkit-scrollbar-thumb {
    background: $color-active;
    width: 8px;
    height: 32px;
    border-radius: 12px;
  }
  
  &__header {
    min-width: 100%;
    display: flex;
    align-items: center;

    .modal-header {
      width: 100%;
      text-align: center;
      @include capabilities-modal-header
    }

    .modal-close {
      cursor: pointer;
      font-size: 20px;
      .ui-icon{
      color: $color-primary;
      }
    }
  }
  &__form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 36px;
  }
  &__input-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    gap: 10px;
  }
  &__input-group-label{
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    text-align: start;
  }
  &__input-group-input{
    width: calc(100% - 36px - 12px);
    background: $thumb-color;
    outline: none;
    padding: 10px 16px;
    border-radius: 12px;
    border-color: transparent;
    font-size: 16px;
  }
  &__form-submit{
    margin-top: 20px;
    width: fit-content;
    padding: 8px 16px;
    background: $color-active;
    outline: none;
    border: none;
    margin-inline: auto;
    font-size: 20px;
    font-weight: 400;
    border-radius: 12px;
    cursor: pointer;
    color: $color-accent;
  }
  &__add-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background: $color-active;
    text-align: center;
    border-radius: 100%;
    border: 0px;
    cursor: pointer;
    .ui-icon{
      font-size: 32px!important;
      color: $bg-primary!important;
    }
  }
  &__users{
    background: $thumb-color;
    padding: 12px 8px;
    border-radius: 16px;
    height: 168px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap:12px;
    &::-webkit-scrollbar {
      border-radius: 2px;
      width: 8px;
      margin-inline-start: 10px;
      left: 10px;
      position: absolute;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
      width: 4px;
      border-radius: 2px;
    }
    
    &::-webkit-scrollbar-thumb {
      background: $color-active;
      width: 8px;
      height: 32px;
      border-radius: 12px;
    }
  }
  &__users-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    border-radius: 12px;
    background: $bg-primary;
    word-break: break-all;
    @include action-item;
    .ui-icon{
      color: #D15151;
      font-size: 20px;
      cursor: pointer;
      background: transparent;
      border: 0;
      padding: 0;
    }
    &--placeholder{
      text-align: center;
    }
  }
}
