.roommates-card{
  display: flex;
  align-items: center;
  background: $bg-primary;
  padding: 18px;
  padding-inline-end: 30px;
  border-radius: 16px;
  @media screen and (max-width: 768px){
    flex-wrap:wrap;
    padding-inline-end: 18px;
    .ui-button{
      margin-top: 16px;
      &.--delete-outline{
        width: calc(100% - 40px);
      }
    }
  }
  &__avatar{
    width: 48px;
    height: 48px;
    border-radius: 100%;
    display: block;
    @media screen and (max-width: 768px){
      margin-inline: auto;
    }
    &.--blank{
      background: linear-gradient(180deg, $avatar-bg-gradient-start 0%, $avatar-bg-gradient-end 100%);
    }
  }
  &__chevron{
    margin-left: auto;
    font-size: 36px;
    @media screen and (max-width:768px) {
      font-size: 32px;
    }
  }
  .roommates-card-info{
    margin-left: 18px;
    width: 50%;
    margin-inline-end: auto;
    @media screen and (max-width: 768px){
      width: 100%;
      margin-inline: 0;
    }
    &__is-pending{
      @include carousel-category-item;
      color: $color-active;
      margin-top: 4px;
      &.--pending{
        color: $color-primary;
      }
    }
    
    &__name{
      @include action-item
    }
    &__role {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      word-break: break-word;
      margin-top: 8px;
      span {
      @include carousel-category-item;
        &::after {
          content: attr(data-end);
        }
        &:last-child {
          &::after {
            content: "";
          }
        }
      }
    }
  }
  .ui-button{
    @include carousel-category-item;
  }
}
