.roommate-settings{
	background: $bg-primary;
	border-radius: 16px;
	width: min(532px, 95%);
	max-height: 85dvh;
	padding: 28px;
	overflow-y: auto;
	&::-webkit-scrollbar {
		border-radius: 2px;
		width: 8px;
		margin-inline-start: 10px;
		left: 10px;
		position: absolute;
	}
	&::-webkit-scrollbar-track {
		background: transparent;
		width: 4px;
		border-radius: 2px;
	}
	&::-webkit-scrollbar-thumb {
		background: $color-active;
		width: 8px;
		height: 32px;
		border-radius: 12px;
	}
	&__header{
		width: 100%;
		position: relative;
		.header{
			@include capabilities-modal-header;
			text-align: center;
			color: $color-active;
		}
		button.blank{
			position: absolute;
			right: 16px;
			top: 6px;
			@media screen and (max-width: 768px) {
				top: 4px;
				right: -16px;
			}
		}
	}
	&__user-info{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 36px;
		.profile-card__avatar{}
		&-name{
			margin-top: 16px;
			font-size: 16px;
			font-weight: 600;
			text-align: center;
			text-decoration: underline;
		}
	}
	&__groups {
		margin-top: 34px;
		&-header {
			font-size: 16px;
			font-weight: 600;
		}
		&-container {
			margin-top: 16px;
			padding-inline: 20px;
			margin-inline: auto;
			@media screen and (max-width: 768px) {
				padding-inline: 0;
			}
		}
		&-item{
			display: flex;
			justify-content: space-between;
			align-items: center;
			background: $settings-color;
			border-radius: 12px;
			padding: 20px 12px;
			font-size: 20px;
			font-weight: 600;
			margin-top: 12px;
		}
	}
	&__submit{
		display: block;
		margin-top: 36px;
		margin-inline: auto;
		background: $color-active;
		color: $bg-primary;
		font-size: 24px;
		font-weight: 600;
		padding: 4px 14px;
		border-radius: 16px;
		border: 0;
	}
}
