.delete-device-modal{
  border-radius: 25px;
  padding: 36px 16px;
  position: relative;
  overflow-y: auto;
  background: $bg-primary;
  display: flex;
  flex-direction: column;
  max-width: min(95%,395px);
  &__header {
    @include capabilities-modal-header;
    text-align: center;
    display: inline-block;
    right: 0;
    left: 0;
    color: $color-active;
  }
  &__prompt{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
  }
  &__prompt-item{
    cursor: pointer;
    display: inline-block;
    padding: 8px 12px;
    width: fit-content;
    @include capabilities-modal-header;
    background: $color-active;
    border-radius: 16px;
    &.--danger{
      background: #D15151;
    }
  }
}