.service{
  cursor: pointer;
  //width: min(36%, 160px);
  width: min(calc(25% - 16px), 160px);

  display: block;
  aspect-ratio: 1;
  border-radius: 24px;
  background: $bg-primary;
  //box-shadow: 0px 0px 24px 0px rgb($service-shadow-color / 0.5);
  //-webkit-box-shadow: 0px 0px 24px 0px rgb($service-shadow-color / 0.5);
  position: relative;
  border: 2px solid transparent;

  @media screen and (max-width: 600px) {
    width: calc(33% - 4px);
  }
  @media screen and (max-width: 440px) {
    width: calc(50% - 4px);
  }
  @media screen and (max-width: 300px) {
    width: 95%;
    aspect-ratio: auto;
  }
  &.--active {
    cursor: pointer;
    //box-shadow: 0px 0px 30px 0px rgb($service-shadow-color / 1);
    //-webkit-box-shadow: 0px 0px 30px 0px rgb($service-shadow-color / 1);
    border-color: rgb($service-shadow-color / 1);
    background: $settings-color;
    .service-ico-wrapper {
      color: $color-active;
      transition: color .1s;
      .ui-icon{
        transition: color .1s;
      }
    }
  }
  &.--pending{
    cursor: progress;
    pointer-events: bounding-box;
    &::before{
      display: block;
      content: '';
      background: rgba(238, 238, 238, 0.74);
      background: linear-gradient(110deg, rgba(236, 236, 236, 0.8) 20%, rgba(245, 245, 245, 0.8) 18%, rgba(236, 236, 236, 0.8) 33%);
      background-size: 200% 100%;
      animation: service-skeleton 1s infinite linear;
      position: absolute;
      border-radius: 24px;
      opacity: .95;
      z-index: 5;
      height: 102%;
      top: -1%;
      right: -1%;
      width: 102%;
    }
  }
  &.--pending.--dead{
    cursor: pointer;
    &::before{
      background: rgba(238, 238, 238, 0.4);
      text-align: center;
      content: "Устройство не отвечает";
      display: flex;
      justify-content: center;
      align-items: center;
      animation: none;
      backdrop-filter: blur(24px);
    }
  }
 

  .service-ico-wrapper{
    width: 100%;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &.--active{
        color: $color-active;
        transition: color .1s;
      .ui-icon{
        transition: color .1s;
      }
    }
  }
  .service-info{
    width: 100%;
    height: 100%;
    padding: 16px;
    position: relative;
    z-index: 1;
    @media screen and (max-width: 768px) {
      padding: 12px;
    }
    @media screen and (max-width: 560px) {
      padding: 8px;
    }
    .service-name {
      @include tool-item;
      text-align: start;
      margin-top: 16px;
      span {
        display: -webkit-box;
        -webkit-line-clamp:2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        word-break: break-word;
      }
    }
  }
  .service-capabilities-list-wrapper{
    display: block;
    position: absolute;
    background: transparent;
    inset: 25px;
  }
}

.service-capabilities-list-wrapper{
  position: absolute;
}
