.service-capabilities-modal{
  border-radius: 25px;
  padding: 20px 14px;
  position: relative;
  width:clamp(15%, 320px, 95%);
  max-height: 90dvh;
  height: auto;
  overflow: hidden;
  background: $bg-primary;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 300px){
    padding-inline: 4px;
  }
  label {
    word-wrap: break-word;
    white-space: pre-line;
  }
  &__toggle{
    position: absolute;
    top: 22px;
    right: 36px;
    z-index: 101;
    cursor: pointer;
  }
  &__submit-name{
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-active;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: 0;
    cursor: pointer;
    .ui-icon{
      font-size: 16px!important;
    }
  }
  &__header{
    @include capabilities-modal-header;
    text-align: center;
    position: relative;
    top: calc(-24px - 6px);
    right: 0;
    left: 0;
    padding-inline: 20px;
	  display: -webkit-box;
	  -webkit-line-clamp: 4;
	  line-clamp: 4;
	  -webkit-box-orient: vertical;
	  overflow: hidden;
    min-height: 1em;
    span{
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    &.--edited{
      display: flex;
      width: 100%;
      top: 0;
      padding-inline: 8px;
      justify-content: space-between;
      margin-inline: auto;
      align-items: center;
      
      input{
        background: $bg-primary;
        outline: none;
        border: none;
        font-size: 20px;
        margin-left: 12px;
        border-bottom: 1px solid;
        width: calc(100% - 50px);
        @media screen and (max-width:768px) {
          font-size: 16px;
        }
        &[type="submit"]{
          background: $color-active;
          padding-inline: 12px;
          border-radius: 8px;
          border: 0;
          margin-left: 12px;
        }
      }
    }
  }
  .edit-ico{
    font-size: 24px;
    cursor: pointer;
    bottom: 3px;
    position: relative;
    z-index: 2;
    width: fit-content;
    @media screen and (max-width:768px) {
      font-size: 20px;
    }
  }
  &__body{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 10px;
    position: relative;
    min-height: calc(100% - 24px);
    padding-inline: 8px;
    padding-bottom: 8px;
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-track {
      background: $bg-primary;
    }
    &::-webkit-scrollbar-thumb {
      background: #2a2a29;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
  &__footer{
    margin-top: 24px;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    bottom: 0;
    position: relative;
    flex: 1;
    gap: 12px;
    border-top: 2px solid $settings-color;
  }

  &__action {
    background: $device-action;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    @include carousel-category-item;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
  }
}
