.change-icon-modal{
	max-height: 85dvh;
	overflow-y: auto;
	width: 100%;
	background: $bg-primary;
	padding-inline: 8px;

	&__header{
		width: 100%;
		display: inline-flex;
		align-items: center;
		position: relative;
		&-text{
			@include capabilities-modal-header;
			color: $color-active;
			width: 100%;
			margin-inline: auto;
			text-align: center;
		}
		.ui-button.--blank{
			position: absolute;
			right: -8px;
			cursor: pointer;
			display: inline-flex;
			align-items: center;
			justify-content: center;
		}
	}
	&__subheader{
		width: 100%;
	}
	&__icons{
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
		align-items: center;
		justify-content: center;
		margin-top: 48px;
		.ui-icon {
			padding: 8px;
			border: 1px solid transparent;
			border-radius: 8px;
			&.--selected{
				border-color: $color-active;
				box-shadow: 0 0 4px 0 $color-active;
				-webkit-box-shadow: 0 0 4px 0 $color-active;
			}
		}
	}
	&__submit{
		border-radius: 16px;
		margin-inline: auto;
		margin-top: 32px;
	}
}
