.service-capabilities-modal{
  border-radius: 25px;
  padding: 20px 14px;
  position: relative;
  //width: clamp(24%, 400px, 95%);
  width:clamp(15%, 320px, 95%);
  height: 85vh;
  overflow: hidden;
  background: $bg-primary;
  display: flex;
  flex-direction: column;
  label {
    word-wrap: break-word;
    white-space: pre-line;
  }
  &__toggle{
    position: absolute;
    top: 22px;
    right: 36px;
    z-index: 101;
    cursor: pointer;
  }
  &__submit-name{
    display: block;
    background: $color-active;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: 0px;
    cursor: pointer;
  }
  &__header{
    @include capabilities-modal-header;
    text-align: center;
    display: inline-block;
    position: absolute;
    right: 0;
    left: 0;
    padding-inline: 20px;
    &.--edited{
      display: flex;
      width: calc(100% - (24px * 2));
      justify-content: space-between;
      margin-inline: auto;
      align-items: center;
      input{
        background: $bg-primary;
        outline: none;
        border: none;
        font-size: 20px;
        margin-left: 12px;
        border-bottom: 1px solid;
        width: calc(100% - 50px);
        &[type="submit"]{
          background: $color-active;
          padding-inline: 12px;
          border-radius: 8px;
          border: 0;
          margin-left: 12px;
        }
      }
    }
  }
  .mdi.mdi-pencil{
    font-size: 24px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    z-index: 2;
    width: fit-content;
  }
  &__body{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 10px;
    position: relative;
    min-height: calc(100% - 24px);
    padding-inline: 8px;
    padding-bottom: 8px;
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-track {
      background: $bg-primary;
    }
    &::-webkit-scrollbar-thumb {
      background: #2a2a29;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
  &__footer{
    display: flex;
    min-height: 260px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    bottom: 0;
    position: relative;
    flex: 1;
  }

  &__action {
    background: $device-action;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    @include carousel-category-item;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
  }
}
