.service-capabilities-modal{
  position: relative;
  width: 100%;
  max-height: 90dvh;
  height: auto;
  overflow: hidden;
  background: $bg-primary;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 340px){
    padding-inline: 4px;
    width: 100%;
  }
  label {
    word-wrap: break-word;
    white-space: pre-line;
  }
  &__toggle{
    position: absolute;
    top: 22px;
    right: 36px;
    z-index: 101;
    cursor: pointer;
  }

  &__header{
    width: 100%;
    margin-inline: auto;
    @include capabilities-modal-header;
    text-align: center;
    position: relative;
    padding-inline: 20px;
	  overflow: hidden;
    min-height: 1em;
    &-text{
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    &.--edited{
      display: flex;
      width: calc(100% + 20px);
      top: 0;
      padding-inline: 0px;
      justify-content: space-between;
      margin-inline: auto;
      align-items: center;
      
      input{
        background: $bg-primary;
        outline: none;
        border: none;
        font-size: 20px;
        margin-left: 12px;
        border-bottom: 1px solid;
        width: calc(100% - 50px);
        @media screen and (max-width:768px) {
          font-size: 16px;
        }
      }
    }
  }
  .edit-ico{
    font-size: 24px;
    cursor: pointer;
    bottom: -2px;
    position: absolute;
    left: 0;
    z-index: 1;
    width: fit-content;
    @media screen and (max-width:768px) {
      font-size: 20px;
    }
  }
  &__body{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 10px;
    position: relative;
    min-height: calc(100% - 24px);
    padding-inline: 8px;
    padding-bottom: 8px;
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-track {
      background: $settings-color;
    }
    &::-webkit-scrollbar-thumb {
      background: #2a2a29;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
  &__footer{
    margin-top: 24px;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    bottom: 0;
    position: relative;
    flex: 1;
    gap: 12px;
    border-top: 2px solid $settings-color;
    .ui-button{
      width: 100%;
      @include carousel-category-item;
      font-weight: 600;
      color: $color-primary;
      text-align: center;
    }
  }
}
