.thermostat-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__value{
    position: absolute;
    width: 160px;
    height: 160px;
    border-radius: 100%;
    background: linear-gradient(180deg, #FFC97C 0%, #B2D0F3 76.22%);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 16px #D2F1FD;
    -webkit-box-shadow: 0px 0px 16px #D2F1FD;
    top: calc((216px / 4) - 4px);
    color: $bg-primary;
    @include header-submenu-item;
    font-weight: 700;
  }
  &__range-border {
    position: absolute;
    bottom: calc((160px / 2));
    &.--min{
      left: 0;
    }
    &.--max{
      right: 0;
    }
  }
  .thermostat-svg{
    overflow: visible;
    &__progress{
      stroke: $color-active;
    }
  }
  &__controls{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: calc((216px / 2) + 52px);
    flex-direction: row-reverse;
    padding-inline: 2px;
    &-action{
      font-size: 32px;
    }
    
  }
}
