
.toggle-switch-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  &:not(.--vertical-large){
    .toggle-switch {
      &__button {
        &-icon {
          top: 4px;
          left: 5px;
        }
      }
    }
  }
}
.toggle-switch {
  position: relative;
  width: 60px;
  height: 36px;
  overflow: hidden;
  border-radius: 100px;
  &.--vertical-large {
    width: 74px;
    height: 144px;
    border-radius: 24px;
    .toggle-switch__layer{
      border-radius: 24px;
    }
    .toggle-switch__button{
      display: flex;
      justify-content: center;
      &-icon{
        width: 58px;
        height: 64px;
        padding: 0;
        border-radius: 20px;
        font-size: 40px;
        transform: translateX(0) translateY(calc(100% + 8px));
      }
    }
    
    .toggle-switch__checkbox {
      &:checked + .toggle-switch__button>.toggle-switch__button-icon {
        transform: translateX(0) translateY(8px);
        content: v-bind(ico);
        background-color: $thumb-color;
      }
      
      &:checked ~ .toggle-switch__layer {
        background-color: $color-active;
      }
    }
  }
  &__button {
    z-index: 2;
    &-icon {
      width: 20px;
      height: 10px;
      padding: 9px 4px;
      background-color: $color-active;
      border-radius: 50%;
      transition: all 0.3s;
      will-change: background-color, color;
      font-size: 20px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $thumb-color!important;
    }
  }
  &__layer,
  &__button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;

    &:checked + .toggle-switch__button>.toggle-switch__button-icon {
      transform: translateX(24px);
      background-color: $thumb-color;
      color: $color-active!important;
    }

    &:checked ~ .toggle-switch__layer {
      background-color: $color-active;
    }
  }

  &__layer {
    border-radius: 100px;
    width: 100%;
    background-color: $thumb-color;
    transition: 0.3s all;
    z-index: 1;
    will-change: background-color;
  }

  
}
