[data-theme='theme-dark']{
  --toastify-color-light:#15191C;
  --toastify-text-color-light:#FFFFFF;
  --toastify-font-family:Jura, sans-serif;

  --color-primary: #FFFFFF;
  --color-accent: #15161C;
  --color-active: #8BC7FF;
  --color-inactive: #000;
  --bg-primary: #15191C;
  --bg-accent: #1A1916;
  --aside-header:#98CEFF;
  --main-bg-gradient-start:#1F3D57;
  --main-bg-gradient-end:#000;
  --avatar-bg-gradient-start:#00D4FF;
  --avatar-bg-gradient-end:#3E96A800;
  --divider-border-color:#000;
  --service-shadow-color:152 206 255;
  --thumb-color:#282B3B;
  --settings-color:#1E242D;
  --device-action:#212433;

}
