.automation {
	padding-inline: 6%;
	&__header{
		width: 100%;
		text-align: center;
		font-size: 40px;
		font-weight: 600;
		color: $color-primary;
	}
	&__subheader {
		font-size: 25px;
		font-weight: 600;
		width: 100%;
		text-align: center;
		margin-top: 32px;
	}
	&__params {
		&-main{
			display: flex;
			justify-content: space-between;
		}
	}
	&__param {
		width: min(95%,432px);
		&-label{
			color: $color-primary;
			font-size: 15px;
			font-weight: 400;
		}
		&-input {
			display: flex;
			justify-content: space-between;
			align-items: center;
			background: $settings-color;
			padding: 8px 20px;
			border-radius: 16px;
			width: 100%;
			border: 0;
			outline: 0;
			font-size: 20px;
			margin-top: 12px;
			.toggle-switch{
				width: 40px;
				height: 24px;
				&__button {
					&::before {
						top: 2px;
						left: 2px;
						width: 20px;
						height: 20px;
						padding: 0;
					}
				}
				.toggle-switch__checkbox:checked + .toggle-switch__button:before {
					content: var(--e2d77463-ico);
					transform: translateX(16px);
					background-color: var(--thumb-color);
					color: var(--color-active);
				}
			}
		}
	}
	&__description{
		width: 100%;
		font-size: 20px;
	}
	&__run-conditions{
		display: flex;
		flex-wrap: wrap;
		gap: 20px 36px;
	}
	&__run-condition{
		display: inline-block;
		width: min(200px, 49%);
		background: $settings-color;
		padding: 12px;
		font-size: 20px;
		font-weight: 600;
		border-radius: 12px;
		position: relative;
		border: 1px solid transparent;
		input[type="radio"]{
			position: absolute;
			cursor: pointer;
			inset: 0;
			opacity: 0;
		}
		&.--active{
			border: 1px solid $color-active;
			box-shadow: 0px 0px 16px 0px $color-active;
		}
	}
	&__add-condition{
		display: block;
		font-size: 25px;
		font-weight: 600;
		color: $color-accent;
		background: $color-active;
		border-radius: 16px;
		padding: 8px 12px;
		text-align: center;
		margin-top: 40px;
		margin-inline: auto;
		border: 0;
		outline: 0;
		cursor: pointer;
	}
	&__conditions{
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		&-delete{
			font-size: 24px;
			font-weight: 600;
			color: #D15151;
			border: 2px solid #D15151;
			padding: 8px 24px;
			background: transparent;
			border-radius: 12px;
			margin-top: 32px;
			cursor: pointer;
			transition: color, background .2s;
			&:hover{
				background: #D15151;
				color: $color-primary;
			}
		}
	}
	.scenarios {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 12px;
		align-items: center;
		.scenario-item {
			border-radius: 16px;
			cursor: pointer;
			width: min(95%, 438px);
			padding: 14px 16px;
			font-size: 20px;
			font-weight: 400;
			background: $settings-color;
			color: $color-primary;
			&.--active {
				background: $color-active;
				color: $settings-color;
			}
		}
	}
	&__submit{
		font-size: 24px;
		font-weight: 600;
		color: $bg-accent;
		background: $color-active;
		border: 0;
		padding: 8px 12px ;
		border-radius: 16px;
	}
	&__delete{
		font-size: 24px;
		font-weight: 600;
		border: 0;
		background: $device-action;
		color: #D15151;
		border-radius: 16px;
		padding: 12px 8px;
		cursor: pointer;
	}
	&__submit-container {
		margin-top: 32px;
		display: flex;
		justify-content: center;
		gap: 40px;
	}
}
