.group{
  padding-inline: 80px;
  &__header{
    @include section-header;
  }
  &__list{
    margin-top: 60px;
  }
  @media screen and (max-width: 550px) {
    padding-inline: 20px;
  }
}
.subgroup-item{
  &__header {
    @include header-submenu-item;
    font-weight: 600;
    margin-top: 40px;
  }
  &__service-list{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap:40px;
    &.--empty{
      font-size: 24px;
    }
  }
}