.scenarios {
	&__header{
		font-size: 40px;
		font-weight: 600;
		text-align: center;
	}
	.scenarios-available{
		&__header {
			font-size: 20px;
			font-weight: 600;
			margin-top: 32px;
			text-align: center;
		}
		&__list{
			padding-inline: min(200px, 20%);
			margin-top: 24px;
			display: flex;
			flex-wrap: wrap;
			gap:48px;
			&-item{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				background: $settings-color;
				padding: 20px;
				position: relative;
				font-size: 20px;
				font-weight: 600;
				min-height: 120px;
				width: calc(50% - 40px);
				min-width: min(300px, 100%);
				margin-inline: auto;
				border-radius: 12px;
				cursor: pointer;
				@media screen and (max-width: 1024px){
					width: 100%;
				}
				&-edit{
					width: fit-content;
					margin-inline-start: auto;
					display: flex;
					flex-direction: row;
					justify-content: flex-end;
				}
				.ui-icon {
					color: $color-active!important;
					font-size: 28px!important;
				}
			}
		}
	}
}
