.profile{
  width: min(792px, 95%);
  margin-inline: auto;
  @media screen and (max-width: 1200px) {
    padding-inline: min(9%, 75px);
  }
  &__divider{
    margin-top: 28px;
  }
}
.profile__sync-device{
  margin-top: 52px;
}
.invited-house-section{
  margin-top: 48px;
  &__header{
    text-align: center;
  }
  &__container{
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    gap:12px;
  }
}
.profile-roommates-section{
  &__header{
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
    @media screen and (max-width:768px) {
      font-size: 20px;
    }
  }
  &__add-section{
    margin-top: 24px;
    width: 52px;
    height: 52px;
  }
  &__list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
