.add-group{
  &__header{
    @include section-header;
    width: 100%;
    text-align: center;
  }
  &__form{
    margin-top:40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:40px;
  }
  &__input-group{
    display: flex;
    align-items: flex-start;
    gap: 24px 8px;
    flex-wrap: wrap;
    width: min(95%, 387px);
    align-content: flex-start;
  }
  &__label{
    @include tool-item;
    font-weight: 400;
    width: 100%;
  }
  &__input{
    width: 100%;
    &[type="text"]{
      @include tool-item;
      font-weight: 600;
      border: none;
      outline: none;
      background-color: $settings-color;
      padding: 12px 20px;
      border-radius: 16px;
    }
    &-wrapper{
      position: relative;
      background-color: $settings-color;
      border-radius: 15px;
      display: flex;
      .floor-label{
        padding: 8px 16px;
        font-size: 24px;
        font-weight: 400;
        position: relative;
        border-radius: 15px;
        box-shadow: 0px 0px 6px 0px $color-active;
        background-color: $settings-color;
        inset: 0;
      }
    }
    &[type="radio"]{
      position: absolute;
      inset: 0;
      opacity: 0;
      z-index: 1;
      cursor: pointer;

    }
    &[type="radio"]:checked ~ .floor-label{
      background: $color-active;
    }
  }
  &__select{
    background: $settings-color;
    color: $color-primary;
    padding: 12px;
    border-radius: 15px;
    width: 100%;
  }
  &__submit-wrapper{
    width: 100%;
  }
  &__submit{
    display: block;
    margin-inline: auto;
    font-size: 25px;
    font-weight: 600;
    padding: 8px 12px;
    background: $color-active;
    border: 0;
    color: $bg-primary;
    border-radius: 15px;
    cursor: pointer;
  }
  .add-group-available-devices{
    width: 100%;
    display: flex;
    flex-direction: column;
    &__header{
      text-align: center;
      @include header-submenu-item;
    }
    &__list{
      width: min(100%,678px);
      margin: 0 auto;
      &-item{
        @include tool-item;
        margin-top: 40px;
        width: 100%;
        background: $settings-color;
        padding: 8px 20px;
        display: flex;
        justify-content: space-between;
        border-radius: 16px;
        &-checkbox-wrapper{
          position: relative;
          width: 24px;
          height: 24px;
          .add-group-available-devices__list-item-checkbox-mask{
            position: absolute;
            inset: 0;
            border: 2px solid $bg-primary;
            background: $color-inactive;
            border-radius: 4px;
            transition: border-color, .2s;
            &::before{
              display: block;
              position: relative;
              content: "";
              font-family: "Material Design Icons";
            }
          }
          input[type="checkbox"]{
            position: relative;
            width: 24px;
            height: 24px;
            opacity: 0;
            cursor: pointer;
            z-index: 1;
          }
          input[type="checkbox"]:hover ~ .add-group-available-devices__list-item-checkbox-mask{
            border-color: $color-active;
          }
          input[type="checkbox"]:checked ~ .add-group-available-devices__list-item-checkbox-mask{
            background: $color-active;
            border-color: $color-active;
            &::before{
              content: "\F012C";
              color: $settings-color;
            }
          }
        }
      }
    }
  }
  .add-group__preview-wrapper{
    width: 100%;
  }
  &__preview{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(100%,600px);
    gap:30px;
    margin-inline: auto;
    .add-group__preview-section{
      width: 100%;
    }
    .add-group__preview-section-title{
      @include tool-item;
      font-weight: 400;
      text-align: center;
    }
    .add-group__preview-section-value{
      @include tool-item;
      text-align: center;
    }
    .add-group__preview-section-device{
      background: $settings-color;
      padding: 16px 28px;
      color: $color-primary;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      border-radius: 16px;
      margin-top: 12px;
      .ui-icon {
        color: #D15151;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
  &.--edit{
    .add-group__form {
      &.--delete{
        .add-group__submit{
        background: #D15151;
        }
      }
    }
  }
}
