.user-edit{
	padding-inline: 48px;
	&__header{
		font-size: 30px;
		font-weight: 700;
	}
	&__subheader{
		margin-top: 36px;
		@include capabilities-modal-header;
	}
	&__container{
		padding-inline: 24px;
		.ui-button{
			margin-top: 36px;
		}

	}
	&__input-group{
		display: flex;
		flex-direction: column;
		margin-top: 28px;
		padding-inline: 24px;
		width: min(360px, 100%);
		&-label{
			@include carousel-category-item;
		}
		&-input{
			border-radius: 12px;
			background: $settings-color;
			border: none;
			margin-top: 8px;
			padding:8px  16px;
			font-size: 20px;
		}
	}
}
