.profile{
  width: min(792px, 95%);
  margin-inline: auto;
  @media screen and (max-width: 1200px) {
    padding-inline: min(9%, 75px);
  }
  &__divider{
    margin-top: 28px;
  }
}
.profile-roommates-section{
  &__header{
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
    @media screen and (max-width:768px) {
      font-size: 20px;
    }
  }
  &__add-section{
    border: none;
    outline: none;
    background: $color-active;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border-radius: 100%;
    margin-inline:auto;
    margin-top: 16px;
    cursor: pointer;
    .ui-icon{
      color: $color-accent!important;
      font-size: 28px!important;
      @media screen and (max-width:768px) {
        font-size: 24px;
      }
    }
  }
  &__list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
