.group{
  margin-inline-start: 32px;
  &__header{
    @include section-header;
  }
  &-list{
    margin-top: 60px;
    margin-inline-start: 32px;
  }
}
.subgroup-item{
  &__header {
    @include header-submenu-item;
    font-weight: 600;
    margin-top: 40px;
  }
  &__service-list{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap:40px;
    &.--empty{
      font-size: 24px;
    }
  }
}
